body {
    font-family: 'Archivo Narrow';
    font-weight: 300;
    line-height: 1.6em;
    font-size: 1.3em;
    max-width: 500px;
    margin: auto;
  }

  h1 {
    font-family: 'Archivo Narrow';
    font-size: 72px;
  }
  
  a {
    color: #097659;
  }
  
  input {
    font-size: 1em;
  }
  
  #questionDisplay {
      font-size: 25px;
    }

  .login-container {
    float:right;
    display: bottom;
    width: 200px;
}
  
  .question-container {
    font-size: .8em;
  }
  
  .container {
    width: 500px;
    margin: auto;
    margin-top: 50px;
  }
  
  ul {
    padding-left: 20px;
  }
  
  .editable {
    border: 1px solid black;
    padding: 20px;
  }